.campus{
    margin: 80px auto;
    width: 90%;
    text-align: center;
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.gallery img{
    width: 23%;
    border-radius: 10px;
}

/*==== Small screen ====*/
@media (max-width: 800px) {
    .gallery{
        flex-wrap: wrap;
    }
    .gallery img{
        width: 48%;
        margin-bottom: 25px;
    }
}

/*==== Modile screen ====*/
@media (max-width: 650px) {
    .gallery{
        flex-direction: column;
    }
    .gallery img{
        flex-basis: 100%;
        margin: 20px;
        width: 90%;
    }
}
